@{
    ViewBag.Title = "Calendarius";
}

<div id="calendar">
    @foreach (var cell in ViewBag.Cells)
    {
    <div class="item">
        <div class="date @cell.ClassName ">@cell.Date.Day </div>
        @foreach (var ev in cell.Events)
        {
            <div class="event">@ev.Name</div>
        }
    </div>
    }
    
</div>